extends layout

block content
  header.masthead.text-center.d-flex
    .container.my-auto
      .row
        .col-lg-10.mx-auto.pb-5.pt-2
          h1.title
            strong ThreeFiveTwo
          hr
          .row
            .col-lg-2.offset-lg-4.mb-2
              a.btn.btn-primary.btn-xl.js-scroll-trigger(href='/login') Login
            .col-lg-2
              a.btn.btn-primary.btn-xl.js-scroll-trigger(href='/register') Register