extends layout.pug

block content
  //- script(src="https://checkout.stripe.com/checkout.js")
  nav.navbar.navbar-expand-lg.navbar-light.bg-light#lmsNavBar
    a.navbar-brand(href='#')
      img(src="/images/cropped-MW.jpg" style="height: 40px;")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    
    .collapse.navbar-collapse(id='navbarSupportedContent')
      ul.navbar-nav.mr-auto
        li.nav-item(data-bind="css: { active: activeNav() == 'main' }")
          a.nav-link(href='/main') Home
        li.nav-item(data-bind="css: { active: activeNav() == 'your-leagues' }")
          a.nav-link(href='/your-leagues') Your Leagues
        li.nav-item(data-bind="css: { active: activeNav() == 'join-league' }")
          a.nav-link(href='/join-league') Join League
        li.nav-item(data-bind="css: { active: activeNav() == 'create-league' }")
          a.nav-link(href='/create-league') Create League
        li.nav-item(data-bind="css: { active: activeNav() == 'my-squad' }")
          a.nav-link(href='/my-squad') Squad
        li.nav-item(data-bind="css: { active: activeNav() == 'my-auctions' }")
          a.nav-link(href='/my-auctions') Auctions
        li.nav-item(data-bind="css: { active: activeNav() == 'fixtures' }")
          a.nav-link(href='/fixtures') Fixtures
        li.nav-item(data-bind="css: { active: activeNav() == 'statistics' }")
          a.nav-link(href='/statistics') Statistics
      ul.navbar-nav.float-right
        li.nav-item
          a.nav-link(href='/logout') Logout
          
  block content-child
  script(src='/javascripts/logged-in.js')