extends layout-logged-in.pug

block content-child
  .container.child
    .image-block
      img.imagefit#IdName(src="images/soccer.jpg" alt="LMS")
    p.mb-5
    p.button1 <a class="link-black" href="create-league"><button1 class="button" style="align:right"><span>Get Started</span></button1>
