extends layout-logged-in.pug

block content-child
  .container
    .row
    h1 The rules:
    p 1) Pay your entry fee at week 1 — no need to pay again. A percentage of the fee goes to support our app running the competition, and the rest goes into the pot to be won.
    p 2) Each week, your pick a team playing a match that same week – if your team wins, you go through, lose or draw and you’re out.
    p 3) You can only pick a team to win once in a competition, so be tactical about who you pick and when.
    p 4) All selections must be in 1 hour before kick off of the first match — you can change your pick up to this deadline.
    p 5) Rounds of fixtures may take place on weekends or mid-week
    p 6) If your team’s game is postponed you are automatically put through to the next round.
    p 7) If you forget to pick a team, you lose.
    p 8) Last Man continues until only one person remains and wins the pot. If all remaining players lose in the last round, they all go through to the next round.
