extends layout-logged-in.pug

block content-child
  .container.child
    .image-block
      img.imagefit2#IdName(src="images/Football-Crazy.jpg" alt="LMS")
      .row
        .col-12.text-center.padding1
          h2.padding1
            span.text-underline.padding1 The Rules
            p.padding1
              p.span.text-underline2 1) Pay your entry fee at week 1 — no need to pay again. A percentage of the fee goes to support our app running the competition, and the rest goes into the pot to be won.
              p.span.text-underline2 2) Each week, your pick a team playing a match that same week – if your team wins, you go through, lose or draw and you’re out.
              p.span.text-underline2 3) You can only pick the same team once during league play, so be tactical about who you pick and when.
              p.span.text-underline2 4) All selections must be in 1 hour before kick off of the first match — you can change your pick up to this deadline.
              p.span.text-underline2 5) Rounds of fixtures may take place on weekends or mid-week
              p.span.text-underline2 6) If your team’s game is postponed you are automatically put through to the next round.
              p.span.text-underline2 7) If you forget to pick a team, you lose.
              p.span.text-underline2 8) MustWin continues until only one person remains and wins the pot. If all remaining players lose in the last round, they all go through to the next round.
